/* calculadoras main */


.container-box {

  text-align: center;
  margin: 1em;
  margin-bottom: 2em;
  padding: 2em;
  border: 5px solid #14805c;
  border-radius: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  h2 {
    color: #14805c;
    font-size: 4.5vw;
    height: auto;
    font-weight: bold;
    grid-column: 1/4
  }

  .box1,
  .box2,
  .box3 {
    @include box;
  }

  .box1:hover {
    @include boxhover;
  }

  .box2:hover {
    @include boxhover;
  }

  .box3:hover {
    @include boxhover;
  }

  .box1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
      url(../img/fotoSueldoNeto.jpg);

  }


  .box2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
      url(../img/fotoPlazoFijo.jpeg);

  }

  .box3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
      url(../img/fotoImpuestoGanancias.jpeg);

  }

  .box1 .boton button {
    @include boxboton;

    &:hover {
      transform: scale(1.1);
    }
  }

  .box2 .boton button {
    @include boxboton;

    &:hover {
      transform: scale(1.1);
    }
  }

  .box3 .boton button {
    @include boxboton;

    &:hover {
      transform: scale(1.1);
    }
  }

}

/* FIN de calculadoras */