
/* Inicio plazofijo main */

.containerBox3 {
    text-align: center;
    margin: 3em;
    padding: 1.5em;
    border: 5px solid #14805c;
    border-radius: 1em;
}

@media (max-width: 413px) {
    .containerBox3 {
        text-align: left;
        margin: 4em;
        padding: 1.5em;
        border: 5px solid #14805c;
        border-radius: 1em;
    }
}

.containerBox3 h1 {
    display: flex;
    font-size: 1.6em;
    color: #14805c;
    justify-content: center;
    padding-bottom: .5em;
}

.containerBox3 h2 {
    font-size: 1.3em;
    color: #14805c;
}

.monto {
    justify-content: space-between;
    padding: .3em;
}

@media (min-width: 350px) {
    .monto {
        display: flex;
    }
}

#labelMonto {
    color: #14805c;
    font-weight: bold;
}

#inputMonto {
    height: 2em;
    width: 5em;
    border-radius: 4em;
    appearance: none;
    text-align: center;

}

#inputMonto::-webkit-inner-spin-button,
#inputMonto::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


.tasaInteres {
    justify-content: space-between;
    padding: .3em;
}

@media (min-width: 350px) {
    .tasaInteres {
        display: flex;
    }
}

#labelTasaInteres {
    color: #14805c;
    font-weight: bold;
}

#inputTasaInteres {
    height: 2em;
    width: 5em;
    border-radius: 4em;
    appearance: none;
    text-align: center;

}

#inputTasaInteres::-webkit-inner-spin-button,
#inputTasaInteres::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.meses {
    justify-content: space-between;
    padding: .3em;
}

@media (min-width: 350px) {
    .meses {
        display: flex;
    }
}

#labelMeses {
    color: #14805c;
    font-weight: bold;
}

#inputMeses {
    height: 2em;
    width: 5em;
    border-radius: 4em;
    appearance: none;
    text-align: center;

}

#inputMeses::-webkit-inner-spin-button,
#inputMeses::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.interesCompuesto input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #14805c;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s;
}

.interesCompuesto input[type="checkbox"]:checked {
    background-color: #14805c;
}

.interesCompuesto label {
    margin-left: 10px;
    color: #14805c;
    font-weight: bold;
}

.boton3 {
    margin-top: 1em;
    font-weight: 700;
    color: #fafafa;
    padding: 9px 25px;
    background-color: #14805c;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.resultados {
    margin: 1em;
}


.boton3:hover {
    transform: scale(1.1);
}

.explicacionPlazoFijo {
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    margin: 2em;
    margin-bottom: 5em;
}

.tituloExplicacion {
    font-size: 1.3em;
}

.explicacionInteresCompuesto {
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    margin: 2em;
    margin-bottom: 5em;
}

.tituloInteresCompuesto {
    font-size: 1.3em;
}

/* FIN plazofijo main */