
/* Inicio sueldoneto main */

.containerBox2 {
    text-align: center;
    margin: 3em;
    padding: 1.5em;
    border: 5px solid #14805c;
    border-radius: 1em;
  }
  
  .containerBox2 h1 {
    display: flex;
    font-size: 1.6em;
    color: #14805c;
    justify-content: center;
    padding-bottom: .5em;
  }
  
  .containerBox2 h2 {
    font-size: 1.3em;
    color: #14805c;
  }
  
  .horasNormales {
    justify-content: space-between;
    padding: .3em;
  }
  
  @media (min-width: 350px) {
    .horasNormales{
      display: flex;
    }
  }
  
  
  #labelHorasNormales {
    color: #14805c;
    font-weight: bold;
  }
  
  #inputHorasNormales {
    height: 2em;
    width: 5em;
    border-radius: 4em;
    appearance: none;
    text-align: center;
  
  }
  
  #inputHorasNormales::-webkit-inner-spin-button,
  #inputHorasNormales::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  
  .horasExtras {
    justify-content: space-between;
    padding: .3em;
  }
  
  @media (min-width: 350px) {
    .horasExtras{
      display: flex;
    }
  }
  
  #labelHorasExtras {
    color: #14805c;
    font-weight: bold;
  }
  
  #inputHorasExtras {
    height: 2em;
    width: 5em;
    border-radius: 4em;
    appearance: none;
    text-align: center;
  }
  
  #inputHorasExtras::-webkit-inner-spin-button,
  #inputHorasExtras::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  .precioHoraNormal {
    justify-content: space-between;
    padding: .3em;
  }
  
  @media (min-width: 350px) {
    .precioHoraNormal{
      display: flex;
    }
  }
  
  #labelPrecioHoraNormal {
    color: #14805c;
    font-weight: bold;
  }
  
  #inputPrecioHoraNormal {
    height: 2em;
    width: 5em;
    border-radius: 4em;
    appearance: none;
    text-align: center;
  }
  
  #inputPrecioHoraNormal::-webkit-inner-spin-button,
  #inputPrecioHoraNormal::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  .precioHoraExtra {
    justify-content: space-between;
    padding: .3em;
  }
  
  @media (min-width: 350px) {
    .precioHoraExtra{
      display: flex;
      text-align: left;
    }
  }
  
  #labelPrecioHoraExtra {
    color: #14805c;
    font-weight: bold;
  
  }
  
  #inputPrecioHoraExtra {
    height: 2em;
    width: 5em;
    border-radius: 4em;
    appearance: none;
    text-align: center;
  }
  
  #inputPrecioHoraExtra::-webkit-inner-spin-button,
  #inputPrecioHoraExtra::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  .resultados {
    margin: 1em;
  }

 .boton2 {
    font-weight: 700;
    color: #fafafa;
    padding: 9px 25px;
    background-color: #14805c;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    transform: scale(1.15);
  }

  


/* FIN sueldoneto main */