/*Inicio cuotas mian */

  .explicacionImpuesto{
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    margin: 2em;
    margin-bottom: 5em;
  }

  .tituloExplicacion{
    font-size: 1.3em;
  }

/*FIN cuotas main*/