/* Index main*/

.container {
  display: flex;
  width: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: #14805c;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.container h2 {
  font-size: 6.5vw;
  color: #fafafa;
  font-weight: bold;

}

.container p {
  font-size: 2em;
  color: #fafafa;
  max-width: 1200px;
  margin: 2em;

}

.container button {
  font-weight: 700;
  color: #14805c;
  padding: 9px 25px;
  margin: 1em;
  background-color: #fafafa;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.container button:hover {
  transform: scale(1.1);
}

#containerInformacion div h3 {
  color: #14805c;
  font-size: 7vh;
}

#sectionInformacion {
  margin: 6em 1em 6em 1em;
}

#containerInformacion {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dolar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url(../img/Dolares.JPG);
  border-radius: 1em;
  margin: 1em 0em;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


.dolar .boton button {
  font-weight: 700;
  color: #14805c;
  padding: 9px 25px;
  background-color: #fafafa;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

}

.dolar .boton button:hover {
  transform: scale(1.1);
}


.pesos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url(../img/Pesos.jpg);
  background-position: center;
  border-radius: 1em;
  margin: 1em 0em;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.pesos .boton button {
  font-weight: 700;
  color: #14805c;
  padding: 9px 25px;
  background-color: #fafafa;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.pesos .boton button:hover {
  transform: scale(1.1);
}

/*FIN de Index main*/