/* Media Querys */

@media only screen and (max-width: 1200px) {

  header {
    flex-wrap: wrap;
    justify-content: center;

    nav ul {
      gap: 20px;

      li a {
        font-size: 2.5vw;
      }
    }
  }

  .container p {
    font-size: 1.2em;
  }

}

@media only screen and (min-width:1200px) {

  footer {
    font-size: 1.2em;

    img {
      width: 2em;
      height: auto;
    }
  }
}

@media only screen and (max-width:1000px) {

  main .container-box {
    display: flex;
    flex-direction: column;

  }

.container-box .box1,
.container-box .box2,
.container-box .box3 {

    height: 250px;
    width: auto;

    h3{
      font-size: 4vw;
    }
  }

}

@media (min-width: 977px) {

  #sectionInformacion {
    display: flex;
    justify-content: center;
    height: 70vh;

  }

  #containerInformacion {
    display: contents;
    align-items: center;
  }

  #containerInformacion .dolar {
    padding: 9em;
    margin: 2em;
    background-position: center;

  }

  #containerInformacion .pesos {
    padding: 9em;
    margin: 2em;
    background-position: center;
  }

}

@media only screen and (max-width:960px) {

  .container p {
    font-size: 1em;
  }

}

@media only screen and (max-width:900px) {

  .Mercadopago {
    width: 7em;
    height: auto;
  }

}

@media (max-width: 768px) {

  .item-iframe {
    width: 11em;
    height: 13em;
  }

}

@media only screen and (max-width: 650px) {

  header a img {
    height: 4vh;
  }

  header nav ul {
    gap: 15px;
  }

  header nav ul li a {
    font-size: 3vw;
  }
  .containerBox2{
    margin: 1em;
  }
  .financial-main {
    margin: 1em;
  }
}

@media only screen and (max-width:600px) {

  .container p {
    font-size: 0.8em;
  }

  main .container-box h2 {
    font-size: 7vw;
  }

  .box1,
  .box2,
  .box3 {
    height: 150px;
    font-size: 0.8em;
  }

}

@media (max-width: 480px) {

  .item-iframe {
    width: 8.5em;
    height: 13em;
  }

}

@media only screen and (max-width:480px) {

  .footer-finantips {
    width: 55vw;
    height: auto;
    margin: 20px;
  }

  .footer-left,
  .footer-right {
    margin: 20px;
  }

  header nav ul li a {
    font-size: 0.8em;
  }

}

@media (max-width: 413px) {

  .containerBox3 {
    text-align: left;
    margin: 4em;
    padding: 1.5em;
    border: 5px solid #14805c;
    border-radius: 1em;
  }

}