@mixin box {
  width: auto;
  border-radius: $border-radius-md;
  background-size: cover;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: 0.5s;
  color: $colorverde;
  font-weight: $font-weight-bold;
  margin: $spacing-md;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

@mixin boxhover {
    transform: scale(1.02);
}

@mixin boxboton {
    font-weight: $font-weight-bold;
    color: $colorverde;
    padding: $spacing-xs + 4px $spacing-xl - 5px;
    background-color: $colorblanco;
    border: none;
    border-radius: $border-radius-pill;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: $font-size-md;
}

// Uso: @include respond-to($bp-md) { ... }
@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}
